/* frontend/src/styles/App.css */
body {

  font-family: 'Amatic SC', cursive; 
  font-weight: bold;
  font-size: 25px;
  background-color: #f5afdb;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(.5px); /* Add a blur effect to blur the background image*/
}

h1 {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0,   
 0.1); 
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.navbar-buttons .link-button {
  padding: 10px 20px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.navbar-buttons .link-button:hover {
  background-color: #3700b3;
}

/* Center the text inside the body */
.centered {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
  text-align: center;      
  flex-direction: column; 
  margin: 0;               
}

.centered h1, .centered p {
  margin: 10px 0;          
}

/* Reset #root background */
#root {
  background: none;
 
}
