/* frontend/src/styles/NavBar.css */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .navbar h1 {
    margin-bottom: 20px;
  }
  
  .navbar-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .navbar-buttons button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .navbar-buttons button:hover {
    background-color: #3700b3;
  }
  